dill
flask==0.12.2
git+git://github.com/hyperopt/hyperopt.git@master#egg=hyperopt
git+git://github.com/SNWBRS/python-logging-rabbitmq.git@master#egg=python-logging-rabbitmq
git+git://github.com/SNWBRS/requests-oauthlib.git@master#egg=requests-oauthlib
git+https://www.github.com/farizrahman4u/keras-contrib.git
h5py==2.7.0
iml==0.6.2
jinja2==2.9.6
keras==2.1.5
matminer==0.4.2
matplotlib==2.0.2
pika==0.12.0
pymatgen==2018.9.19
redis==2.10.6
requests_toolbelt==0.8.0
requests==2.18.4
scikit-learn==0.19.1
scikit-optimize==0.1
seaborn==0.8.0
shap==0.24.0
tensorflow==1.3.0
tornado==4.5.2
xhtml2pdf==0.2b1
